
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  gap: 20px;
  padding: 20px;
  justify-content: relative;
  flex: 1 auto;
  position: relative;
  width: 100%;
  min-height: 200px;
  padding: 25px;

} 
.flexbox1 {
  display: flex;
  width: 80%;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 10px;
  background-color: #f8f8f8;
  padding: 15px;
  border-radius: 8px;
  min-height: 200px;
}
.flexbox2 {
  display: flex;
  width: 80%;
  gap: 10px;
  justify-content: center;
  align-items: stretch;
  background-color: #f8f8f8;
  padding: 15px;
  border-radius: 8px;
  min-height: 200px;
}
.flexbox3 {
  display: flex;
  width: 80%;
  gap: 10px;
  justify-content: flex-end;
  align-items: center;
  background-color: #f8f8f8;
  padding: 15px;
  border-radius: 8px;
  min-height: 200px;
}
.flexbox4 {
  display: flex;
  width: 80%;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  padding: 15px;
  border-radius: 8px;
  min-height: 200px;
}
.flexbox5 {
  display: flex;
  width: 80%;
  gap: 10px;
  align-items: baseline;
  justify-content: center;
  background-color: #f8f8f8;
  padding: 15px;
  border-radius: 8px;
  min-height: 200px;
}
.flexbox6 {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  padding: 15px;
  border-radius: 8px;
  min-height: 200px;
}
.flexbox6 .card:nth-child(2) {
  flex-grow: 2;
}

.card {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  flex: 1;
  height: 60px;
  margin-top: 20px;
}
